/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: sans-serif;
}

/* Utilities START */
.u-margin-y-1pt5rem {
  margin: 1.5rem 0;
}

.u-font-size-1pt3rem {
  font-size: 1.3rem;
}

.u-bold-weight-black-color {
  font-weight: bold;
  color: black;
}

.u-hidden-text {
  color: transparent;
  cursor: default;
}
/* Utilities END */


.page-container {
  max-width: 60rem;
  margin: 10% auto 5% auto;
  padding: 0 2rem;
}


@media only screen and (max-width: 470px) {
  html {
    /* Changes everything that uses rem as its unit */
    font-size: 10px;
  }
}

@media only screen and (max-width: 300px) {
  html {
    /* Changes everything that uses rem as its unit */
    font-size: 8px;
  }
}