// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// _stars_interactive START
// Source: https://codepen.io/jamesbarnett/pen/najzYK

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 2rem;
  line-height: 1;
  font-family: system-ui;
  display: inline-block;
  content: "★";
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > label { cursor: pointer; }

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
// _stars_interactive END

.review-new__body-input {
  border: none;
  font-size: 1.1rem;
  padding: 0.5rem 0;
  &:focus {
    outline: none;
  }
}

.review-new__submit-btn {
  border: 1;
  padding: 0.7rem 1.7rem;
  border-radius: 0.3rem;
  color: gray;
  background-color: white;
  border: 0.1rem solid gray;
  cursor: pointer;
  &:hover {
    background: whitesmoke;
  }
}

#review-new__review-text {
  margin-top: 3rem;
  display: inline-block;
}
