// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//Stars START
// Source: https://codepen.io/FredGenkin/pen/eaXYGV
:root {
  --star-size: 2rem;
  --star-color: lightgray;
  --star-background: #fc0;
}

.rating-stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: system-ui;
  line-height: 1;
  
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
// Stars END

.product-show__container {
  max-width: 60rem;
  margin: 10% auto 5% auto;
  padding: 0 2rem;
}

.product-show__upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product-show__left {
  display: flex;
  align-items: baseline;
}

.product-show__rating-avg {
  font-size: 2rem;
  margin-right: 1rem;
}

.product-show__write-review-btn {
  padding: 0.7rem 1.5rem;
  border: 0.1rem solid gray;
  color: gray;
  border-radius: 0.3rem;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: whitesmoke;
  }
}

.product-show__hr {
  background-color: lightgray;
  height: 0.1rem;
  border: 0;
  margin: 3rem 0;
}

.product-show__review {
  display: flex;
  align-items: flex-end;
  color: gray;

  & > * {
    margin: 0 1rem 1rem 0;
  }

  & div:nth-of-type(2) { // second child has less margin right than rest 
    margin-right: 0.5rem;
  }
}

.u-bold-weight-black-color {
  font-weight: bold;
  color: black;
}

